.hover-translate-y-3:hover {
    transform: translateY(-5px);
  }


.text-hypatia::after{
    animation-duration: 500ms;
  }

.text-container {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.text-container.show {
  opacity: 1;
}



